body[data-theme=dark] .card,
body[data-theme=dark] .card-header,
body[data-theme=dark] .gal-box,
body[data-theme=dark] .timeline {
    --ct-card-border-color: #36404a;
    --ct-card-box-shadow: var(--ct-box-shadow-sm);
    --ct-card-cap-bg: #424e5a;
    --ct-card-bg: #fff;
}
.flex-grow-1 {
    -webkit-box-flex: 1 !important;
    -ms-flex-positive: 1 !important;
    flex-grow: 1 !important;
    color: black;
}
.content-page {
    margin-left: 240px;
    overflow: hidden;
    padding: 0 15px 65px 15px;
    min-height: 80vh;
    margin-top: 70px;
    background-color: #F3F6F9;
}

.Team {
    color: #000;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 200%;
}

#anystudio {
    color: #000;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: 200%;
    /* 24px */
}

.card-body {
    display: flex;
    width: 590px;
    height: 78px;
    padding: 12px 8px;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
    border-radius: 4px;
    background: #FFF;
}

.box {
    width: 200px;
    height: 40px;
    flex-shrink: 0;
    border-radius: 8px;
    background: #EBF0F1;
}

.email {
    display: inline-flex;
    padding: 6px 30px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: #000;
    background-color: #FFFFFF;
}

.whatappp {
    color: #000;
}

.input-group {
    display: flex;
    width: 282px;
    height: 79px;
    padding: 15px;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
    border: 0.6px solid rgba(175, 179, 179, 0.60);
}

#svg {
    width: 20px;
    height: 20px;
}

#searchInput {
    color: #B0B5B6;
    font-family: Roboto Slab;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    background-color: white;
    border: none;
}

.name {
    color: #212121;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.small {
    color: #696A77;
    font-family: Roboto Slab;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.profilediv{
display: flex;
padding: 15px 72px;
flex-direction: column;
align-items: center;
gap: 10px;
align-self: stretch;
border-radius: 2px;
border-bottom: 1px solid rgba(103, 128, 132, 0.40);
background: #FFF;
}
.imgemp{
width: 65px;
height: 65.903px;
border-radius: 65.903px;
background: url("backend/assets/images/Ellipse 7.svg"), lightgray 50% / cover no-repeat;
}
.Cody{
color: #212121;
font-family: Inter;
font-size: 18px;
font-style: normal;
font-weight: 600;
line-height: normal;
}
.rating{
color: #6F6767;
font-family: Roboto Slab;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
#Puworkerto{
color: #77777E;
font-family: Inter;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.ViewProfile{
color: #777272;
font-family: Roboto Slab;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.second{
display: flex;
height: 167px;
padding: 40px 20px;
flex-direction: column;
align-items: flex-start;
gap: 17px;
flex-shrink: 0;
align-self: stretch;
border-radius: 2px;
border-bottom: 1px solid rgba(105, 106, 119, 0.40);
background: #FFF;
}
#Applied{
color: #000;
font-family: Roboto Slab;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.Job{
color: #000;
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: normal;
}
.paragraph{
color: #778689;
font-family: Roboto Slab;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.third{
display: flex;
height: 98px;
padding: 35px 17px;
flex-direction: column;
justify-content: center;
align-items: flex-start;
gap: 10px;
flex-shrink: 0;
align-self: stretch;
border-bottom: 1px solid rgba(105, 106, 119, 0.40);
background: #FFF;
}
.comt{
color: #696A77;
font-family: Roboto Slab;
font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: normal;
}
.forth{
display: flex;
height: 64px;
padding: 30px 40px 30px 20px;
align-items: center;
gap: 12px;
flex-shrink: 0;
align-self: stretch;
border-bottom: 1px solid rgba(105, 106, 119, 0.40);
background: #FFF;
}
#AddOwner{
color: #2CA9BC;
font-family: Roboto Slab;
font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: normal;
}
.fifth{
display: flex;
height: 330px;
padding: 40px 20px;
flex-direction: column;
justify-content: space-between;
align-items: flex-start;
flex-shrink: 0;
align-self: stretch;
border-radius: 2px;
background: #FFF;
}
.Schedule{
color: #636470;
font-family: Roboto Slab;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
.Alignment{
color: #000;
font-family: Roboto Slab;
font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: normal;
}
#approval{
color: #677A7D;
font-family: Roboto Slab;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
display: flex;
padding: 4px 10px;
justify-content: center;
align-items: center;
gap: 10px;
border-radius: 4px;
border: 1px solid #0BA6B0;
background: #ABDDE4;
}
.mar{
color: #000;
font-family: Roboto Slab;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.rectangleonly{
width: 30px;
height: 13px;
border-radius: 3px;
background: #FF8300;
}
#imgcolor{
width: 30px;
height: 13px;
border-radius: 3px;
background: rgba(194, 205, 215, 0.40);
}